* {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    color: #ffffff;
    background-color: #000000;
}

.image-container > .main_image{
    width: 100%;
    height: 506px;
    opacity: 0.6;
}

.image-container > .top-info-container {
    position: absolute;
    top: 19%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 3.6rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: Bangers;
    font-weight: 400;
    letter-spacing: 4px;    
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
}
.u-social{
    margin-top: 30px;
    font-size: 0.9rem;    
}
.u-social > a{
    text-decoration: none;
}
.svg-icons{
    height: 2em !important;    
}

h3{
    font-family: Bangers;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 40px 0 0;    
}
.h3-responsive{
    font-size: 3rem;
}

.card-img-square{
    height: 300px;
    margin-top: 26px;
    margin-bottom: 26px;
}
.personalized-column{
    position: relative;
    width: 33%;
    /* height: 900px; */
}
.card-img-rectangular{
    height: 463px;
    margin-top: 26px;
    margin-bottom: 26px;
}
h4{
    font-family: Bangers;
    letter-spacing: 2px;
    font-size: 2.0rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
}
h2{
    font-family: Bangers;
    letter-spacing: 2px;
    font-size: 3rem;
}

.personalized-background{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.img-circle{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {    
    .image-container > .main_image{
        height: auto !important;
    }
    .image-container > .top-info-container {
        top: 6.9%;
        /* width: 100% !important; */
        left: 0;
        /* transform: translateX(-10%); */
        /* font-size: 5rem; */
        font-size: 2.3rem;
    }
    .personalized-column{
        width: 100%;
        /* height: 900px; */
    }
    .card-img-square{
        margin-bottom: 0px;
    }
    .card-img-rectangular{
        height: 300px;
    }
    .img-circle{
        width: 90px !important;
        height: 90px !important;
        border-radius: 50%;
    }
    .h3-responsive{
        font-size: 1.9rem;
        margin-bottom: 3px;
    }
}
